[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "*"
azure-identity = "*"
microsoft-kiota-authentication-azure = "*"
microsoft-kiota-serialization-json = "*"
microsoft-kiota-serialization-text = "*"
msgraph-core = {editable = false, ref = "kiota/long-term-branch", git = "https://github.com/microsoftgraph/msgraph-sdk-python-core.git"}

[dev-packages]
setuptools = "==65.5.1"
build = "==0.9.0"
bumpver = "==2022.1119"
pylint = "==2.15.6"
mypy = "==0.991"
yapf = "==0.32.0"
isort = "==5.10.1"
