[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-identity = "1.13.0"
microsoft-kiota-abstractions = "0.5.3"
microsoft-kiota-authentication-azure = "0.2.0"
microsoft-kiota-http = "0.4.4"
microsoft-kiota-serialization-json = "0.3.5"
microsoft-kiota-serialization-text = "0.2.1"
msgraph-core = "==1.0.0a4"

[dev-packages]
setuptools = "==68.0.0"
build = "==0.10.0"
bumpver = "==2023.1124"
pylint = "==2.17.4"
mypy = "==1.3.0"
yapf = "==0.40.1"
isort = "==5.12.0"
