[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-identity = "*"
microsoft-kiota-abstractions = "0.2.1"
microsoft-kiota-authentication-azure = "0.2.0"
microsoft-kiota-http = "0.2.3"
microsoft-kiota-serialization-json = "0.2.0"
microsoft-kiota-serialization-text = "0.2.0"
msgraph-core = "==1.0.0a0"

[dev-packages]
setuptools = "==66.1.1"
build = "==0.10.0"
bumpver = "==2022.1120"
pylint = "==2.15.10"
mypy = "==0.991"
yapf = "==0.32.0"
isort = "==5.11.4"
