aiohttp==3.12.6
aiosignal==1.3.1
anyio==4.9.0
astroid==3.3.10
async-timeout==5.0.1
attrs==25.3.0
azure-core==1.34.0
azure-identity==1.23.0
build==1.2.2.post1
bumpver==2024.1130
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
cryptography==45.0.3
Deprecated==1.2.18
dill==0.4.0
docutils==0.20.1
flit==3.12.0
flit_core==3.12.0
frozenlist==1.6.0
h11==0.16.0
h2==4.2.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.10
importlib-metadata==8.5.0
isort==6.0.1
lazy-object-proxy==1.11.0
lexid==2021.1006
looseversion==1.3.0
mccabe==0.7.0
microsoft-kiota-abstractions==1.9.3
microsoft-kiota-authentication-azure==1.9.3
microsoft-kiota-http==1.9.3
microsoft-kiota-serialization-form==1.9.3
microsoft-kiota-serialization-json==1.9.3
microsoft-kiota-serialization-multipart==1.9.3
microsoft-kiota-serialization-text==1.9.3
msal==1.32.3
msal-extensions==1.3.1
msgraph-core==1.3.4
multidict==6.4.4
mypy==1.16.0
mypy-extensions==1.1.0
opentelemetry-api==1.33.1
opentelemetry-sdk==1.33.1
opentelemetry-semantic-conventions==0.54b1
packaging==25.0
pathlib2==2.3.7.post1
platformdirs==4.3.8
portalocker==2.10.1
pycparser==2.22
PyJWT==2.9.0
pylint==3.3.7
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
requests==2.32.3
six==1.17.0
sniffio==1.3.1
std-uritemplate>=2.0.0
time-machine==2.15.0
toml==0.10.2
tomli==2.2.1
tomli_w==1.2.0
tomlkit==0.13.2
typing_extensions==4.13.2
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.4.0
wrapt==1.17.2
yapf==0.43.0
yarl==1.20.0
zipp==3.22.0
