name: Build and upload SDK package

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main, dev ]

permissions:
  contents: read

jobs:
  deploy:
    name: Publish distribution to PyPI
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    environment: pypi_prod

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.8'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build
    - name: Build package
      run: python -m build
    - name: Publish package
      uses: pypa/gh-action-pypi-publish@f5622bde02b04381239da3573277701ceca8f6a0
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
